<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<!-- <link rel="stylesheet" href="../public/css/bootstrap.css"> -->
	<script src="example.js"></script>
	</head>
<body>
<!-- <div class="container">
<div class="jumbotron" style="margin-top: 2px;"><h1 style="text-align: center; margin-top: -38px;
    margin-bottom: 24px;">My Admin</h1>
<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<a href="" style="width: 150px;" class="btn btn-success btn-lg">Add</a>  <a href="" style="width: 150px;" class="btn btn-success btn-lg">Edit</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">List</a>
	<label for="" ><span class="badge" style="font-size: 38px;">State******</span></label>
<br><br>
	<a href="" style="width: 150px;" class="btn btn-success btn-lg">Add</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">Edit</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">List</a> <label for="" style="font-size: 30px;"><span class="badge" style="font-size: 38px;">City********
	</span>
	</label>
<br><br>
	<a href="" style="width: 150px;" class="btn btn-success btn-lg">Add</a>  <a href="" style="width: 150px;" class="btn btn-success btn-lg">Edit</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">List</a> <label for="" style="font-size: 30px;"><span class="badge" style="font-size: 38px;">Locality***
	</span></label>
<br><br>
	<a href="" style="width: 150px;" class="btn btn-success btn-lg">Add</a>  <a href="" style="width: 150px;" class="btn btn-success btn-lg">Edit</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">List</a> <label for="" style="font-size: 30px;"><span class="badge" style="font-size: 38px;">Category**
	</span></label>
<br><br>
	<a href="" style="width: 150px;" class="btn btn-success btn-lg">Add</a>  <a href="" style="width: 150px;" class="btn btn-success btn-lg">Edit</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">List</a> <label for="" style="font-size: 30px;"><span class="badge" style="font-size: 38px;">User*******
	</span>
	</label>
<br><br>
	<a href="" style="width: 150px;" class="btn btn-success btn-lg">Add</a>  <a href="" style="width: 150px;" class="btn btn-success btn-lg">Edit</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">List</a><label for="" style="font-size: 30px;"><span class="badge" style="font-size: 38px;">Delete Ads
	</span></label>
<br><br>
	<a href="" style="width: 150px;" style="width: 150px; class="btn btn-success btn-lg" class="btn btn-success btn-lg">Add</a>  <a href="" style="width: 150px;" class="btn btn-success btn-lg">Edit</a> <a href="" style="width: 150px;" class="btn btn-success btn-lg">List</a><label for="" > <span class="badge" style="font-size: 38px;">Reject Ads</span></label>
	</div>
	<div class="col-xs-2"></div>
</div>
	</div>
</div> -->
<table>
	<tr>
		<td>home </td>
		<td>product</td>
		<td>od</td>
		<td>service</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<!-- 	<script src="..public/js/jquery.js"></script>
<script src="..public/js/bootstarp.js"></script> -->
</body>
</html>