!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>stateadd</title>
	<link rel="stylesheet" href="../public/css/bootstrap.css">
	<style>
		form{
			margin-top: 15px;
			margin-left: 5px;
		}
	</style>
</head>
<body>
<form action="" class="form-inline">
<label for="">STATEID:</label><input type="number" class="form-control">
<label for="">STATENAME:</label><input type="text" class="form-control">
<label for="">CREATIONDATE:</label><input type="text" class="form-control">
<label for="">UPDATIONDATE:</label><input type="text" class="form-control">
<input type="submit" class="btn btn-success" value="State Update">
</form>
	<script src="../public/js/jquery.js"></script>
	<script src="../public/js/bootstrap.js"></script>
</body>
</html>